# Ignore datasets (large files)
# =========================
# DATASETS
# =========================
Dataset/Raw/
Dataset/Processed/
Dataset/Pool/
Dataset/Final/

# =========================
# NOTEBOOK CHECKPOINTS
# =========================
.ipynb_checkpoints/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.py[cod]
*.pyc

# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/
.env

# =========================
# MODEL FILES (CRITICAL)
# =========================
*.pt
*.pth
*.h5
*.ckpt
*.onnx
*.pkl
*.joblib

# =========================
# LOG FILES
# =========================
*.log
command_env.txt

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db
desktop.ini